{% extends "layout.html" %}

{% block title %}
Iniciar sesión | Law.m
{% endblock %}

{% block contenido %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <h1 class="logo text-center mb-4">
                Law.m
            </h1>

            <h4 class="text-center mb-4">
                Iniciar sesión
            </h4>

            {% if mensaje %}

            <div class="alert alert-warning text-center">
                {{ mensaje }}
            </div>

            {% endif %}

            <form action="{{ url_for('login') }}" method="post">

                <div class="mb-3">

                    <label class="form-label">
                        Correo electrónico
                    </label>

                    <input
                        type="email"
                        name="correo"
                        class="form-control">

                </div>


                <div class="mb-4">

                    <label class="form-label">
                        Contraseña
                    </label>

                    <input
                        type="password"
                        name="contraseña"
                        class="form-control">

                </div>


                <button class="btn btn-dark w-100">
                    Ingresar
                </button>


                <div class="text-center mt-3">

                    ¿No tienes cuenta?

                    <a href="{{ url_for('register') }}">
                        Crear una cuenta
                    </a>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}